{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">{% trans %}messages.add_new_genre{% endtrans %}</h4>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}